@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap&#039);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
background-color: #fcfafa;
width: 100%;}
body header {
  width: 1440px;
  height: 56px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: end;
  gap: 48px;
}
.sec1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* padding-top: 110px; */
}
.text {
  display: flex;
  flex-direction: column;
  border: 1px;
  gap: 12px;
  padding-left: 120px;
  padding-top: 66px;
  width: 456px;
  height: 408px;
}
.image {
  width: 720px;
  height: 629px;
}
.project {
  width: 115px;
  height: 43px;
  border-radius: 8px;
  background-color: #ffcc00;
  border: 0px;
}
.linkedin {
  width: 117px;
  height: 43px;
  border-radius: 8px;
  border: 2px solid black;
}
.hello {
  font-size: 64px;
  display: flex;
  width: 486px;
  height: 154px;
  color: #25282b;
  line-height: 120%;
}
.p-sec1 {
  height: 108px;
  width: 486px;
  color: #828282;
  font-size: 24px;
  line-height: 150%;
}
.p {
  color: #FDC435;
  font-size: 20px;
  line-height: 100%;
  height: 27px;
}


.main-sec {
  width: 992px;
  height: 1892px;
  /* padding-top: 88px;
  padding-left: 222px; */
display: flex;
flex-direction:column;
gap: 80px;
}
.sec2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.img2 {
  width: 496px;
  height: 526px;
  padding-right: 226px;
}
.content1 {
  width: 496px;
  height: 526px;
  margin-left: 222px;
  background-color: #FFFFFF;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}